.footer__main{
    font-family: 'Roboto', 'Arial', sans-serif; 
    font-weight: 400;
    margin-left: 383px;
    width: 112px;
    border: none;
    text-decoration: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
}

@media (max-width: 950px) { 
    .footer__main{
        margin-left: 28px;
        display: flex;
    }
  }  

  @media (max-width: 720px) { 
    .footer__main{
       margin-top: 20px;
       margin-left: 14px;
    }
  }  

