.header-saved__saved{
    border-bottom: 1px solid black;
    width: 178px;
}

@media (max-width: 1050px) { 
    .header-saved__saved{
        width: 158px;
    }
}


@media (max-width: 950px) { 
    .header-saved__saved{
        width: 156px;
        padding-left: 4px;
    }
}

@media (max-width: 620px) { 
    .header-saved__saved{
        padding-left: 19px;
    }
}