.сards__del-saved {
  font-size: 15px;
  color: black;
  border: 1px solid red;
  margin-left: -100px;
}

@media (max-width: 1340px) { 
  .сards__del-saved{
    margin-left: 150px;
  }
} 

@media (max-width: 1245px) { 
  .сards__del-saved{
    margin-top: -201px;
    width: 80px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 10px;
  }
} 


@media (max-width: 950px) { 
  .сards__del-saved{
    margin-top: -146px;
    margin-left: 109px;
    width: 60px;
    font-size: 8px;
    padding-top: 6px;
    padding-bottom: 6px;

  }
} 


@media (max-width: 750px) { 
  .сards__del-saved{
    margin-left: 165px;
    margin-top: -152px;
  }
} 