@import url('__avatar/about__avatar.css');
@import url('__text/about__text.css');
@import url('__title/about__title.css');
@import url('__block/about__block.css');


.about{
    display: grid;
    grid-template-columns: repeat(2, 600px);
    padding-top: 80px;
    padding-bottom: 80px;    
}

@media (max-width: 1030px) { 
    .about{
        grid-template-columns: repeat(2, 400px);
    }
  }  

  @media (max-width: 950px) { 
    .about{
        grid-template-columns: repeat(2, 300px);
        padding-top: 60px;
        padding-bottom: 60px;
    }
  }  


  @media (max-width: 750px) { 
    .about{
        grid-template-columns: repeat(1, 700px);
        padding-top: 60px;
        padding-bottom: 60px;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        align-items: center;
        align-self: center;
        align-content: center;
    }
  }  
