.nav__mobile{
  background-image: url('../../../images/menublack.svg');
  width: 24px;
  height: 24px;
  margin-left: 415%;
  margin-top: 16px;
  display: none;
  background-repeat: no-repeat;
}

@media (max-width: 670px) { 
    .nav__mobile{ 
        display: block;
        background-color: none;
        outline: none;
        background-color: transparent;
      }
  } 
  
  