.cards__date{
  font-family: 'Source Sans Pro', 'Arial', sans-serif; 
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin-top: 13px;
  margin-bottom: 0px;
}
