@import url('__logo/header__logo.css');
@import url('__menu/header__menu.css');
@import url('__block/header__block.css');
@import url('__name/header-saved__name.css');
@import url('__saved/header-saved__saved.css');
@import url('__img/header-saved__img.css');
@import url('__nav/header-saved__nav.css');
@import url('__first/header-saved__first.css');
@import url('__main/header-saved__main.css');
@import url('__auth-black/header-saved__auth-black.css');
@import url('__changed/header-saved__changed.css');
@import url('__container/header-saved__container.css');

.headers{
  margin-left: 400px;
}

@media (max-width: 440px) { 
  .headers {
    margin-left: 280px;
  }
}

.header-saved__changed{
  color: black;
}

.header-saved{
    max-height: 600px;
    background-position: center;
} 

.header{
  background-image: url('../../images/img.png');
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 600px;
  background-position: center;
} 

@media (max-width: 1050px) { 
  .header {
    height: 435px;
  }
}

@media (max-width: 620px) { 
  .header {
    height: 555px;
  }
}



