.cards__text{
  font-family: 'Roboto', 'Arial', sans-serif; 
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  max-width: 352px;
  height: 110px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  margin-top: 10px;
  margin-bottom: 18px;
}

@media (max-width: 1245px) { 
    .cards__text {
      width: 250px;
    }
  } 

@media (max-width: 950px) { 
    .cards__text {
      width: 192px;
      height: 88px;
      margin-top: 5px;
    }
  }
  @media (max-width: 750px) { 
    .cards__text {
      width: 256px;
    }
  } 