
.elements{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
} 

@media (max-width: 750px) { 
    .elements {
      display: grid; 
      grid-template-rows: 450px 450px 450px;   
      justify-items: center;
    }
  } 

